.logContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70vh;
}

.logSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.logTitle {
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.logInput {
  padding: 0.6%;
}

.logButton {
  background-color: black;
}
