.logContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  width: 90vw;
}

.logSection {
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.logTitle {
  text-align: center;
  font-size: 1.8rem;
  color: white;
}

.logInput {
  padding: 0.6%;
  color: black;
  border-radius: 5px;
  font-size: 1.1rem;

  margin: 0.5%;
}

.logButton {
  background-color: black;
}
