.logContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.logSection{
  display: flex;
  flex-direction: column;
  width: 50%;
  justify-content: center;
  align-items: center;
  margin-bottom: 5%;
}

.logTitle{
  text-align: center;
  font-size: 1.5rem;
  color: white
}

.logInput{
  padding: 0.6%;
  color: black;
  border-radius: 5px;
  margin: 0.5%;
}

.logButton{
  text-align: center;
  color: white;
  border-radius: 5px;
  background-color: black;
  margin-top: 2%;
  padding: 0.6%;
}