.mainFigthContainer{
  display: flex;
  align-items: center;
}

.figthContainer{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 3px dotted black;
  border-radius: 100px;
}

.reportbyside{
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-around;
}

.side{
  padding: 5px;
  width: 50%;
}

.side:last-child {
  border-left: 2px solid black;
  padding-left: 30px;
}

.winner{
  color: honeydew;
  text-shadow: 1px 1px green;
}

