.characterCard {
  background-color: rgb(177, 177, 177);
  padding: 1%;
  min-width: 20vw;
  border-radius: 15px 0 15px 0;
  box-shadow: 4px 4px 4px rgb(173, 36, 36);
  justify-content: center;
  align-items: center;
  margin: 4% 2% 2%
}

.characterIdentity {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.characterIdentity:first-of-type{
  border-bottom: 3px solid black;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.characterIdentity:last-of-type{
  border-top: 3px solid black;
  padding-top: 10px;
  margin-top: 10px;
}

.characterStat {
  margin: 5px;
  padding: 5px 10px;
  border-radius: 15px;
  background-color: black;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  min-width: 6vw;
  box-shadow: 4px 4px rgba(85, 85, 85, 0.493);
}

#characterName {
  margin: 5px;
  text-shadow:2px 2px black;
}

li::marker {
  content: none;
  color: aqua;
}